.width-100 {
width:  1600px;
}
#txt-search {
}
.main-title {
  font-size: 28px;
color: white;
font-weight: 600;
}
.main-content {
font-family:  Open Sans;
color:  white;
font-size:  28px;
}
.btn-read-more:hover {
background-color:  white;
color:  black;
border-color:  black;
text-decoration:  none;
}
.square-title {
  text-align: center;
font-family: Open Sans;
font-size: 24px;
color: white;
font-weight: bold;
padding-top: 100px;
width: 150px;
padding-bottom:  5px;
}
.square-content {
}
.square-separator {
width:  50px;
border-color: #0067b1;
margin:  0 auto;
height:  3px;
border-top: 3px solid #0067b1;
}
.btn-square {
    font-family: Open Sans;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration:  none;
    border-radius: 4px;
    background-color: #0067b1;    
}
.square {
height:  100%;
padding-left:  10px;
padding-right:  0;
}
.square-wrapper {
margin-right:  -15px;
}.nav {
    background: #fafafa;color: #000;font-weight: 600;font-size: 15px;height:  60px;position: relative;padding-left: 20px;padding-right: 20px;vertical-align: middle;padding-top: 20px;float: left;
}
.nav:hover {
text-decoration:  none;
background-color:  #f0f0f0;
color:  black;
}
.btn-read-more {
  font-family: Open Sans;
color: white;
font-weight: 900;
font-size: 16px;
padding: 20px;
border: 3px solid #97a3ac;
}
.btn-square:hover {
color: white;
text-decoration: none;
border:  1px solid black;
}